

body {
    background: linear-gradient(#6498e6, #19334f);
}

#intro {
    font-size: 2em;
    color: sandybrown;
    margin-left: 33%;
    
    position: fixed;
}

#secondDeal {
    background-color: sandybrown;
    font-size: 2em;
    cursor: pointer;
 display: none;
}

#firstDealButton {
    background-color: sandybrown;
    font-size: 2em;
    cursor: pointer;
 
}

#secondDealButton {
    background-color: sandybrown;
    font-size: 2em;
    cursor: pointer;
    margin-bottom: 2em;
    display: none;
    position: fixed;
}

#thirdDeal {
    display: none;
    background-color: sandybrown;
    font-size: 2em;
    cursor: pointer;
}

#endButton {
    display: none;
    background-color: sandybrown;
    font-size: 2em;
    cursor: pointer;
}

#firstDealButton {
    margin-top: 0em;
}

#player1 {
    display: none;
    margin-top: 15%;
}

#player2 {
    display: none;
    margin-top: 15%;
}

#one, #two {
    margin-left: 15%;
}

#first {
    padding-top: 0%;
}

.card {
    float: left;
    padding-right: 2em;
    display: none;
    float: left;
    height: 30%;
    
}

.cards {
    margin-left: 15%;
}

/* Media Query */
@media screen and (max-width:500px) {
    .card {
        width: 40%;
        display: none;
        
    }
}

    #table {
        width: 80%;
    
    }

    #outro {
        background-color: sandybrown;
        font-size: 2em;
        cursor: pointer;
     display: none;
     margin-left: 33%;
     margin-top: 15%;
    } 


   


   

   

    
