body {
    background: linear-gradient(#6498e6, #19334f);
}

#intro {
    font-size: 2em;
    color: sandybrown;
    margin-left: 33%;
    margin-top: 1em;
    position: fixed;
}

#table {
    margin-top: 1em;
}

.deal {
    background-color: sandybrown;
    font-size: 2em;
    cursor: pointer;
 
}

#firstDeal {
    margin-bottom: 2em;
}

#firstDealButton {
    margin-top: 2em;
}

#one {
    display: none;
}

#one, #two {
    margin-left: 15%;
}

#first {
    padding-top: 0%;
}

.card {
    float: left;
    padding-right: 2em;
}

/* Media Query */
@media screen and (max-width:500px) {
    .card {
        width: 40%;
        
    }
    #table {
        width: 90%;
    }

    button {
        width: 50%;
    }

    .deal {
        margin-bottom: 3em;
    }
    
}